include ../../../../components/ui/svg-icon/svg-icon

mixin card-portfolio-drawings
	.card-portfolio-drawings.js-card-portfolio-drawings
		.ac
			h2.ac-header
				button.ac-trigger(type='button') Планировка
					+svg-icon('arrow-mini')
			.ac-panel
				.ac-text 
					.card-portfolio-drawings__slider.js-card-portfolio-drawings-slider-wrapper
						.swiper.js-card-portfolio-drawings-slider
							.swiper-wrapper
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")

						.card-portfolio-drawings__pagination.js-card-portfolio-drawings-pagination


						.card-portfolio-drawings__navigationext.js-card-portfolio-drawings-button-next
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

						.card-portfolio-drawings__navigationprev.js-card-portfolio-drawings-button-prev
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

		.ac.is-active
			h2.ac-header
				button.ac-trigger(type='button') Фасад
					+svg-icon('arrow-mini')
			.ac-panel
				.ac-text 
					.card-portfolio-drawings__slider.js-card-portfolio-drawings-slider-wrapper
						.swiper.js-card-portfolio-drawings-slider
							.swiper-wrapper
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")

						.card-portfolio-drawings__pagination.js-card-portfolio-drawings-pagination


						.card-portfolio-drawings__navigationext.js-card-portfolio-drawings-button-next
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

						.card-portfolio-drawings__navigationprev.js-card-portfolio-drawings-button-prev
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

		.ac
			h2.ac-header
				button.ac-trigger(type='button') Генеральный план
					+svg-icon('arrow-mini')
			.ac-panel
				.ac-text
					.card-portfolio-drawings__slider.js-card-portfolio-drawings-slider-wrapper
						.swiper.js-card-portfolio-drawings-slider
							.swiper-wrapper
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings1.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")
								.swiper-slide
									img(src="../../../../../img//drawings/drawings2.jpg")

						.card-portfolio-drawings__pagination.js-card-portfolio-drawings-pagination


						.card-portfolio-drawings__navigationext.js-card-portfolio-drawings-button-next
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

						.card-portfolio-drawings__navigationprev.js-card-portfolio-drawings-button-prev
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.64922 9.65039L7.79922 5.50039L3.64922 1.35039L4.34922 0.65039L9.19922 5.50039L4.34922 10.3504L3.64922 9.65039Z" fill="black"/>
							<path d="M8.5 5L8.5 6L-4.37114e-08 6L0 5L8.5 5Z" fill="black"/>
							</svg>

