.footer {
	margin-top: auto;
	background-color: var(--color-secondary);
	position: relative;

	&__logo {
		flex-shrink: 0;
	}

	&__socials {
		display: none;
		align-items: center;
		gap: 35px;

		@media (max-width: 768px) {
			display: flex;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__inner {
		padding: 25px 0;
		border-top: 1px solid var(--color-border);
		border-bottom: 1px solid var(--color-border);
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__phone {
		flex-shrink: 0;
		color: #000;
		transition: color 0.2s linear;

		&:hover {
			color: var(--color-accent);
		}
	}

	&__copy {
		padding-top: 25px;
		padding-bottom: 25px;
		font-family: var(--font-accent);
		font-weight: 400;
		font-size: 14px;
		text-align: center;

		a {
			color: var(--color-primary);
			text-decoration: underline;
			text-decoration-skip-ink: none;
			font-weight: 800;

			transition: color 0.2s linear;

			&:hover {
				color: var(--color-accent);
			}
		}
	}
}

.nav-footer {
	max-width: 597px;
	width: 100%;

	&__list {
		width: 100%;

		display: flex;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: 430px) {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	&__link {
		color: #000;
		transition: color 0.2s linear;

		&:hover {
			color: var(--color-accent);
		}
	}
}
