section.project-documentation
	.container
		.project-documentation__inner
			.project-documentation__col
				.project-documentation__content
					h2.project-documentation__header О услуге

					p.project-documentation__text Создание уникальных идей и визуальных решений для будущих объектов, которые отражают цели заказчика и учитывают особенности участка.

					img.project-documentation__mobile(src="../../../img/project-documentation.jpg", width="791" height="604" alt="")

				.project-documentation__content
					h2.project-documentation__header Этапы работы

					.project-documentation__stages
						.project-documentation__stage
							h3 01
							p Анализ участка и технических условий.

						.project-documentation__stage
							h3 02
							p Разработка нескольких концепций с учетом пожеланий заказчика.

						.project-documentation__stage
							h3 03
							p Создание эскизов, 3D-визуализаций и презентационных материалов.

						.project-documentation__stage
							h3 04
							p Согласование концепции и доработка по итогам обсуждения.


			.project-documentation__col
				img(src="../../../img/project-documentation.jpg", width="791" height="604" alt="")