:root {
	--container-width: 1480px;
	--container-padding: 20px;

	--font-main: 'Onest', sans-serif;
	--font-accent: 'Manrope', sans-serif;

	--color-primary: #000;
	--color-text-secondary: #757575;
	--color-text-muted: #b9b9b9;
	--color-muted-secondary: #dcdcdc;
	--color-secondary: #ffffff;
	--color-accent: #bb2928;

	--color-border: #d9d9d9;
}
