include ../../../components/ui/button-link/button-link.pug

section.main-hero
	.container
		.main-hero__content
			h1.main-hero__title Эффективные решения для ваших проектов

			.main-hero__content
				p.main-hero__text Профессиональное проектирование и комплексная реализация под ключ. Мы обеспечиваем точность, качество и соблюдение сроков. Доверьте нам создание пространств, которые работают на ваш успех. 
			
			.main-hero__button
				+button-link('Обсудить сотрудничество', 'button-link--white', '/contacts.html')