extends ../layout/main-layout.pug

block variables 
   - var title = "Главная"

block content
   include ../views/main/main-hero/main-hero
   include ../views/main/main-works/main-works
   include ../views/main/main-services/main-services
   include ../views/main/main-inspiration/main-inspiration
   include ../views/main/main-reviews/main-reviews
   include ../views/main/main-news/main-news