extends ../layout/main-layout.pug

include ../components/ui/page-title/page-title.pug

block variables 
	-	var title = "Портфолио"
	-	var includeContacts = true

block page-top 
	+page-title([
		{label: 'Главная', href: '/archimetics'},
		{label: 'Портфолио'},
		], 'Портфолио')

block content
	include ../views/portfolio/portfolio