.services {
	margin-top: 90px;
	margin-bottom: 90px;

	@media (max-width: 1024px) {
		margin-bottom: 50px;
	}

	&__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 1;

		@media (max-width: 420px) {
			font-size: 24px;
		}
	}
}
