include ../ui/button-link/button-link.pug
include ../ui/svg-icon/svg-icon.pug

mixin our-services
	.our-services
		.our-services__col
			.our-services__wrap
				h3.our-services__title Проектная документация (П стадия)

				p.our-services__description Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.

				+button-link("Подробнее", '', '/project-documentation.html')

			.our-services-list.js-accordion-services-one
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Рабочая документация (Р стадия)
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Архитектурно-градостроительный облик (АГО)
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Эскизные проекты (концепции)
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
	 
		.our-services__col
			.our-services-list.our-services-list--two.js-accordion-services-two
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Разрешение на строительство
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Инженерные взыскания
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Ввод объекта в эксплуатацию
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.
				.ac
					h2.ac-header
						button.ac-trigger(type='button') Смена вида разрешенного использования
							+svg-icon('plus')
					.ac-panel
						p.ac-text Разработка полного комплекта проектной документации в соответствии с нормативными требованиями. Включает архитектурные, конструктивные и инженерные решения, необходимые для согласования и дальнейшего строительства. Обеспечиваем точность, надежность и соблюдение всех стандартов.