mixin portfolio-category(portfolioCategoryClass)
	.portfolio-category(class=portfolioCategoryClass)
		ul.portfolio-category__list
			li.portfolio-category__item
				button.portfolio-category__btn(type="button") Архитектура
			li.portfolio-category__item
				button.portfolio-category__btn.portfolio-category__btn--active(type="button") Интерьеры
			li.portfolio-category__item
				button.portfolio-category__btn(type="button") Ландшафтный дизайн
			li.portfolio-category__item
				button.portfolio-category__btn(type="button") Реконтсрукции
			li.portfolio-category__item
				button.portfolio-category__btn(type="button") Промышленное строительство
			li.portfolio-category__item
				button.portfolio-category__btn(type="button") Жилые комплексы