include ../../../components/ui/section-title/section-title.pug
include ../../../components/feedback/feedback.pug

section.main-reviews
	.container 
		.main-reviews__inner
			.main-reviews__info
				+section-title("Блог", "Отзывы")

				.main-reviews__slider
					.swiper.js-main-reviews-slider
						.swiper-wrapper
							.swiper-slide
								+feedback('Компания ”ОфисГрад”', "Наше сотрудничество с 'Архиметикой' началось  с проекта офисного здания. Мы хотели создать современное, функциональное и стильное пространство для сотрудников и клиентов. Команда бюро не только предложила креативные решения, но и учла все технические требования. Команда бюро не только предложила креативные решения, но и учла все технические требования")
							.swiper-slide
								+feedback('Администрация города Зеленоград', "Мы сотрудничали с 'Архиметикой' в рамках проекта благоустройства городского парка. Задача была сложной: нужно было сохранить исторический облик, но при этом сделать пространство современным и удобным для горожан. Команда бюро провела огромную работу: от анализа территории до разработки концепции. Результат — парк, который стал любимым местом отдыха для жителей. Мы получили множество положительных отзывов от горожан, и это лучшая оценка работы 'Архиметики'. Спасибо за ваш профессионализм и ответственность!")
							.swiper-slide
								+feedback('Компания ”ОфисГрад”', "Мы обратились в 'Архиметику' с задачей разработать уникальный дизайн для нового ресторана нашей сети. Команда бюро предложила нестандартное решение, которое идеально отразило наш бренд и концепцию заведения. Благодарим 'Архиметику' за профессионализм и творческий подход!")

							.swiper-slide
								+feedback('Компания ”ОфисГрад”', "Наше сотрудничество с 'Архиметикой' началось  с проекта офисного здания. Мы хотели создать современное, функциональное и стильное пространство для сотрудников и клиентов. Команда бюро не только предложила креативные решения, но и учла все технические требования. Команда бюро не только предложила креативные решения, но и учла все технические требования")
							.swiper-slide
								+feedback('Администрация города Зеленоград', "Мы сотрудничали с 'Архиметикой' в рамках проекта благоустройства городского парка. Задача была сложной: нужно было сохранить исторический облик, но при этом сделать пространство современным и удобным для горожан. Команда бюро провела огромную работу: от анализа территории до разработки концепции. Результат — парк, который стал любимым местом отдыха для жителей. Мы получили множество положительных отзывов от горожан, и это лучшая оценка работы 'Архиметики'. Спасибо за ваш профессионализм и ответственность!")
							.swiper-slide
								+feedback('Компания ”ОфисГрад”', "Мы обратились в 'Архиметику' с задачей разработать уникальный дизайн для нового ресторана нашей сети. Команда бюро предложила нестандартное решение, которое идеально отразило наш бренд и концепцию заведения. Благодарим 'Архиметику' за профессионализм и творческий подход!")

					
					.main-reviews__pagination.js-main-reviews-pagination