.button {
	display: inline-block;
	padding: 12px 20px;
	width: 100%;
	background-color: var(--color-primary);
	border-radius: 21px;

	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: #fff;
	cursor: pointer;

	transition: color 0.2s linear, background-color 0.2s linear;

	@media (max-width: 375px) {
		font-size: 16px;
	}

	&:hover {
		background-color: var(--color-accent);
		color: var(--color-secondary);
	}

	&--white {
		background-color: var(--color-secondary);
		color: #000;
	}
}
